@using PdfFromRazor.Invoices
@code {
    [Parameter] public Invoice Invoice { get; set; }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Invoice @Invoice.Number</title>

    <style>
        /* Your Style */
	</style>
</head>

<body>
    <div class="invoice-box page-break">
    <table cellpadding="0" cellspacing="0">
        <tr class="top">
            <td colspan="2">
                <table>
                    <tr>
                        <td>
                            Invoice #: @Invoice.Number<br/>
                            Created: @Invoice.IssueDate.ToString("MMMM dd, yyyy")<br/>
                            Due: @Invoice.DueDate.ToString("MMMM dd, yyyy")
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
		<!-- The Rest of your HTML Code. -->
    </table>
</div>
</body>
</html>


